body
{
font-family: sans-serif;
background: #fffef5;
}

a
{
  color: #fcba03;
  font-weight: bold;
}

p{
    text-align: justify;
}

.container
{
    max-width: 1280px;
    padding: 40px 180px;
}

.imgcontainer
{
  text-align: center;
}

.imgcontainer img
{
  width: 200px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

ul li
{
    padding: 0;
    margin: 0;
}

.instafeed img
{
    max-width: 400px;
}

.profilepicture{
    border-radius: 50px;
    width: 100%;
}