body
{
font-family: sans-serif;
background: #fffef5;
}

.bg-dark
{
    color: #fefefe;
}

.bg-red {
    color: #fefefe;
    background: #d51007;
}

a {
    color: #fcba03;
    font-weight: bold;
}

p{
    text-align:left;
}

.navbar .container {
    padding: 10px 180px;
}

.container
{
    max-width: 1280px;
    
}

.imgcontainer
{
  text-align: center;
}

.imgcontainer img
{
  width: 200px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

ul li
{
    padding: 0;
    margin: 0;
}

.socialmedia{
    position: absolute;
    top: 10px;
    right: 10px;
}

.socialmedia li
{
    display: block;
    float: left;
    margin-right: 5px;
}

.linkedin, .twitter, .instagram {
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px;
}

.linkedin
{
    background: url(img/icon_linkedin.svg);
}

.twitter {
    background: url(img/icon_twitter.svg);
}

.instagram {
    background: url(img/icon_instagram.svg);
}

.instafeed img {
    max-width: 100%;
}

.profilepicture{
    border-radius: 50px;
    width: 80%;
}

    .background-light {
        background: #000;
        color: #fff;
    }

.career .item
{
    opacity: 0.8;
}

    .career .item:hover{
        transition-duration: .2s;
        opacity: 1;
    }

    .career .time {
        color: #888;
    }

.skills .clear {
    clear: both;
}

.skills h6 {
    margin-top: 20px;
}

    .skills h6:first-child
    {
        margin-top: 0;
    }

    .skills ul {
        margin-bottom: 20px;
    }

    .skills li {
        transition-duration: .2s;
        opacity: 0.7;
        float: left;
        background: #eee;
        color: #333;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 2px 5px;
        border-radius: 5px;
        
    }

        .skills li:hover {
            opacity: 1;
        }

.gallery-item img
{
    opacity: 0.9;
}

.gallery-item:hover img {
    opacity: 1;
    transition-duration: .2s
}

    #lastfmtop10 img {
        width: 64px;
        float: left;
        border-radius: 5px;
    }

#lastfmtop10 .artist
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#lastfmtop10 .artist .name
{
    font-weight: bold;
}

#lastfmtop10 .artist .plays
{
    opacity: 0.7;
}

#lastfmtop10 li:hover .artist .plays {
    transition-duration: .2s;
    opacity: 1;
}

    #lastfmtop10 li {
        margin-bottom: 10px;
        clear: both;
        height: 64px;
    }

        #lastfmtop10 li:hover img  {
            /*width: 70px;
            height: 70px;
            margin-left: -2px;
            margin-top: -2px;*/
            zoom: 1.06;
            transition-duration: .2s
        }

@media (min-width: 768px) {
    .container {
        padding: 40px 180px;
    }

    
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    header > div {
        height: 90px;
        padding-top: 10px;
    }

    .socialmedia
    {
        display: block;
        position: relative;
        margin: 0 auto;
        top: 0;
        right:0;
        width: 111px;

    }
}